[Desktop Entry]
Name=SiYuan
Exec=/usr/lib/siyuan/SiYuan %U
Icon=/usr/share/pixmaps/siyuan.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/goose;
